<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a id="title" class="navbar-brand" href="#">
       UV
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <ul class="navbar-nav mr-auto pull-right">
          <li>
            <img id="profile" src="/assets/images/profile.png" width="45" height="45" class="d-inline-block pull-right" alt="">
          </li>
          <li class="nav-item">
            <h4 id="uname">XYZ</h4>
          </li>
              

        </ul>







      </div>
    </div>
  </div>
</nav>


<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading" id="order">Order-Search</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2 text-right">
          <b>OMX#</b>
        </div>
        <div class="col-sm-2">
          {{ input type="text" class="omx-id" placeholder="OMX-ID" value=omxSearch }}
        </div>
        <div class="col-sm-2 text-right">
          <b>GPS#</b>
        </div>
        <div class="col-sm-2">
          {{ input type="text" id="gps-id" placeholder="GPS-ID" value=gpsSearch }}
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn" {{action "onSubmit" omxSearch gpsSearch}}>Search</button>
          {{!-- {{bs-button defaultText="Start download" pendingText="Downloading..." resolvedText="Download complete!" onClick=(action
          "onSubmit" omxSearch gpsSearch)}} --}}
        </div>
      </div>
    </div>
  </div>

  {{#bs-accordion id="acc"as |acc|}} {{#acc.item value="1" as |aitem|}}
  <div class="accord-title" {{action "toggleAccordian"}}>
    {{#aitem.title}} Site Information {{#if openAcc}}
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    {{else}}
    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
    {{/if}} {{/aitem.title}}

  </div>

  {{#aitem.body}}
  <div class="row">
    <div class="col-sm-2 text-right"> LCON</div>
    <div class="col-sm-2">
      {{ input type="text" class="lcon" action="" placeholder="lcon" value=Lcon }}
    </div>
    <div class="col-sm-2 text-right">OMX</div>
    <div class="col-sm-2">
      {{ input type="text" class="omx" placeholder="OMX" value=omx }}



    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">Technician Contact</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-contact" action="" placeholder="Contact" }}
    </div>
    <div class="col-sm-2 text-right">Bridge</div>
    <div class="col-sm-2">
      {{ input type="text" class="bridge" action="" placeholder="Bridge" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">PIM</div>
    <div class="col-sm-2">
      {{ input type="text" class="pim" action="" placeholder="PIM" }}
    </div>
    <div class="col-sm-2 text-right">GPS</div>
    <div class="col-sm-2">
      {{ input type="text" class="gps" action="" placeholder="GPS" }}


    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">SR#</div>
    <div class="col-sm-2">
      {{ input type="text" class="sr" action="" placeholder="SR#" }}
    </div>
    <div class="col-sm-2 text-right">History</div>
    <div class="col-sm-2">
      {{ input type="text" class="history" action="" placeholder="History" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">Address</div>
    <div class="col-sm-4">
      {{ textarea type="text" class="address" placeholder="Address" value=address }}
    </div>
  </div>

  {{/aitem.body}} {{/acc.item}} {{/bs-accordion}} {{#bs-accordion as |acc|}} {{#acc.item value="2" as |aitem|}}
  <div class="accord-title" {{action "toggleAccordian1"}}>
    {{#aitem.title}} Technical Details {{#if openAcc1}}
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    {{else}}
    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
    {{/if}} {{/aitem.title}}
  </div>

  {{#aitem.body}}

  <div class="row">
    <div class="col-sm-2 text-right">IP Address</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="IP Address" }}
    </div>
    <div class="col-sm-2 text-right">VLAN</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="VLAN" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">PER Info</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="PER" }}
    </div>
    <div class="col-sm-2 text-right">Circuit Id</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" placeholder="Circuit ID" value=circuitId }}


    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">HostName</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="HostName" }}
    </div>
    <div class="col-sm-2 text-right">LTE</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" placeholder="LTE" action="" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right"> S.No/MAC address</div>
    <div class="col-sm-2">

      {{ input type="text" class="tech-details" action="" placeholder="MAC" }}
    </div>
    <div class="col-sm-2 text-right">VNF Info</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="VNF" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">DEMARC</div>
    <div class="col-sm-4">
      {{ input type="text" class="tech-details" action="" placeholder="DEMARC" }}
    </div>
  </div>

  {{/aitem.body}} {{/acc.item}} {{/bs-accordion}} {{#if openAcc1 }} {{#unless openAcc }}
  <footer id="footer1">
    <div id="copyright">
      <span class="pull-left">Powered By BizOps </span>
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/unless}} {{/if}} {{#if openAcc}} {{#unless openAcc1 }}
  <footer id="footer1">
    <div id="copyright">
      <span class="pull-left">Powered By BizOps </span>
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/unless}} {{/if}} {{#if openAcc}} {{#if openAcc1}}
  <footer id="footer1">
    <div id="copyright">
      <span class="pull-left">Powered By BizOps </span>
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/if}} {{/if}} {{#unless openAcc}} {{#unless openAcc1}}
  <footer id="footer2">
    <div id="copyright">
      <span class="pull-left">Powered By BizOps </span>
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/unless}} {{/unless}}
</div>




{{outlet}}