<div class="header">
    <nav class="navbar navbar-default navud">
        <div class='container-fluid'>

            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {{!-- image header --}}
              <a class="navbar-brand" >
                    <span id="projectname"> &nbsp;&nbsp;  UV</span>
                    <span class="version">&nbsp; 1.0</span> 
                </a> 
            </div>

            <div id="navbar5" class="navbar-collapse collapse rightnav">
                <ul class="nav navbar-nav navbar-right" >
                    {{!-- user --}}
                    <li>
                        <img id="personemoticon" class="img-thumbnail" width="45" height="45" src="/assets/images/default_profile.jpg" class="img-circle">
                        <span style="font-size:18px;"><b>&nbsp;XYZ</b></span> 
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>


<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading" id="order"><b>Order-Search</b></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2 text-right">
          <b>OMX#</b>
        </div>
        <div class="col-sm-2">
          {{ input type="text" class="omx-id" placeholder="OMX-ID" value=omxSearch }}
        </div>
        <div class="col-sm-2 text-right">
          <b>GPS#</b>
        </div>
        <div class="col-sm-3">
          {{ input type="text" id="gps-id" placeholder="GPS-ID" value=gpsSearch }}
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn" {{action "onSubmit" omxSearch gpsSearch}}>
           {{#if isLoading}}
           <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
           {{else}}
           Search
           {{/if}}
          </button>
          
          {{!-- {{bs-button type="button" class="btn" defaultText="Start download" pendingText="Downloading..." resolvedText="Download complete!" onClick=(action "onSubmit" omxSearch gpsSearch)}} --}}
        </div>
      </div>
    </div>
  </div>

  {{#bs-accordion id="acc"as |acc|}} {{#acc.item value="1" as |aitem|}}
  <div class="accord-title" {{action "toggleAccordian"}}>
    {{#aitem.title}} <b>Site Information </b>{{#if openAcc}}
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    {{else}}
    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
    {{/if}} {{/aitem.title}}

  </div>

  {{#aitem.body}}
  <div class="row">
    <div class="col-sm-2 text-right">OMX</div>
    <div class="col-sm-2">
      {{ input type="text" class="omx" placeholder="OMX" value=omx }}
    </div>
    <div class="col-sm-2 text-right"> LCON</div>
    <div class="col-sm-2">
      {{ input type="text" class="lcon"  placeholder="lcon" value=lcon }}
    </div>
    
  </div>
<div class="row">
    <div class="col-sm-2 text-right">SR#</div>
    <div class="col-sm-2">
      {{ input type="text" class="sr"  placeholder="SR#" value=sr  }}
    </div>
    <div class="col-sm-2 text-right">LCON #</div>
    <div class="col-sm-2">
      {{ input type="text" class="LCON"  placeholder="LCON #" value=lc }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 text-right">Customer Name</div>
    <div class="col-sm-2">
      {{ input type="text" class="customer" value=customer placeholder="Customer" }}
    </div>
    <div class="col-sm-2 text-right">E-mail</div>
    <div class="col-sm-2">
      {{ input type="text" class="email" value=email placeholder="E-mail" }}
    </div>
    
    
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">History</div>
    <div class="col-sm-2">
      {{ input type="text" class="history" value=history placeholder="History" }}
    </div>
    <div class="col-sm-2 text-right">PIM</div>
    <div class="col-sm-2">
      {{ input type="text" class="pim" value=pim placeholder="PIM" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">Address</div>
    <div class="col-sm-2">
      {{ textarea type="text" class="address" placeholder="Address" value=address }}
    </div>
    <div class="col-sm-6 text-right">
      <div class="row">
    <div class="col-sm-4 text-right">L.E.</div>
    <div class="col-sm-2">
      {{ input type="text" class="le" placeholder="Lead Engineer" value=le }}
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4 text-right">P.M.</div>
    <div class="col-sm-2">
      {{ input type="text" class="pm" placeholder="P.M" value=pm }}
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4 text-right">Tech-Info</div>
    <div class="col-sm-2">
      {{ input type="text" class="techinfo" placeholder="Info" value=techinfo }}
    </div>
    </div>
    </div>
  </div>

  {{/aitem.body}} {{/acc.item}} {{/bs-accordion}} {{#bs-accordion as |acc|}} {{#acc.item value="2" as |aitem|}}
  <div class="accord-title" {{action "toggleAccordian1"}}>
    {{#aitem.title}} <b>Technical Details </b>{{#if openAcc1}}
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    {{else}}
    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
    {{/if}} {{/aitem.title}}
  </div>

  {{#aitem.body}}

  <div class="row">
    <div class="col-sm-2 text-right">IP Address</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="IP Address" }}
    </div>
    <div class="col-sm-2 text-right">VLAN</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="VLAN" }}
    </div>
  </div>

  <div class="row">
<div class="col-sm-2 text-right">Circuit Id</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" placeholder="Circuit ID" value=circuitId }}


    </div>
    <div class="col-sm-2 text-right">PER Info</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="PER" }}
    </div>
    
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">HostName</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="HostName" }}
    </div>
    <div class="col-sm-2 text-right">LTE</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" placeholder="LTE" action="" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right"> S.No/MAC address</div>
    <div class="col-sm-2">

      {{ input type="text" class="tech-details" action="" placeholder="MAC" }}
    </div>
    <div class="col-sm-2 text-right">VNF Info</div>
    <div class="col-sm-2">
      {{ input type="text" class="tech-details" action="" placeholder="VNF" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 text-right">DEMARC</div>
    <div class="col-sm-4">
      {{ input type="text" class="tech-details" action="" placeholder="DEMARC" }}
    </div>
  </div>

  {{/aitem.body}} {{/acc.item}} {{/bs-accordion}} {{#if openAcc1 }} {{#unless openAcc }}
  <footer id="footer1">
    <div id="copyright">
       <span class="pull-left">
        <img  width="45" height="45" src="/assets/images/BizOpsLogo.jpg">&nbsp;
        <br/>
      </span>
      <span class="pull-left">
        
        Powered By BizOps </span>
        
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/unless}} {{/if}} {{#if openAcc}} {{#unless openAcc1 }}
  <footer id="footer1">
    <div id="copyright">
       <span class="pull-left">
        <img width="45" height="45" src="/assets/images/BizOpsLogo.jpg">&nbsp;
        <br/>
      </span>
      <span class="pull-left">
        
        Powered By BizOps </span>
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/unless}} {{/if}} {{#if openAcc}} {{#if openAcc1}}
  <footer id="footer1">
    <div id="copyright">
       <span class="pull-left">
        <img width="45" height="45" src="/assets/images/BizOpsLogo.jpg">&nbsp;
        <br/>
        </span>
      <span class="pull-left">
        Powered By BizOps </span>
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/if}} {{/if}} {{#unless openAcc}} {{#unless openAcc1}}
  <footer id="footer2">
    <div id="copyright">

      <span class="pull-left">
        <img  width="45" height="45" src="/assets/images/BizOpsLogo.jpg">&nbsp;
        <br/>
      </span>

      <span class="pull-left">
        Powered By BizOps </span>
      <br/>
      <span class="pull-left">Copyright 2018 AT&amp;T Services, Inc. All Rights reserved.</span>
    </div>
  </footer>
  {{/unless}} {{/unless}}
</div>



{{outlet}}
